
{% extends 'pages/base.html' %}

{%block title%}Blog{% endblock %}

{%block content%}

<h1 style="font-size:50px;">Contact Us</h1>
<h3 style="font-size: 25px;">Email us for Any Posts you want to see</h3>
<form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">What idea would you like to see ?</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/_Vx4cOS3fC4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{%endblock%}